__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
EXTENSAO_TCC/
node_modules/
.DS_Store
.idea/
.vscode/
*.log
serviceAccountKey.json
server/serviceAccountKey.json
server/cache/
*.pdf
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
